[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/plugins/start/vim-go"]
	path = pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "pack/plugins/start/vim-indent-guides"]
	path = pack/plugins/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "pack/colors/start/neodark"]
	path = pack/colors/start/neodark
	url = https://github.com/KeitaNakamura/neodark.vim.git
[submodule "pack/colors/start/onedark"]
	path = pack/colors/start/onedark
	url = https://github.com/joshdick/onedark.vim.git
[submodule "pack/colors/start/vim-one"]
	path = pack/colors/start/vim-one
	url = https://github.com/rakr/vim-one.git
